.about{
    padding:5px 8%;
}
.section-title{
    text-align:center;
    margin-bottom:70px;
}

.section-title span{

    color:#8B5CF6;

    letter-spacing:3px;

    font-size:14px;

}

.section-title h2{

    margin-top:10px;

    font-size:42px;

}

.about-container{

    display:flex;

    gap:80px;

    align-items:center;

}

.about-image{

    flex:1;

    display:flex;

    justify-content:center;

}

.image-box{

    width:350px;

    height:350px;

    border-radius:25px;

    overflow:hidden;

    background:#141821;

    border:1px solid rgba(255,255,255,.08);

}

.image-box img{

    width:100%;

    height:100%;

    object-fit:cover;

}

.about-content{

    flex:1.2;

}

.about-content h3{

    font-size:36px;

    margin-bottom:20px;

}

.about-content p{

    color:#A1A1AA;

    line-height:1.9;

    font-size:17px;

}

.about-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:25px;

    margin-top:40px;

}

.info-card{

    background:#141821;

    padding:25px;

    border-radius:18px;

    border:1px solid rgba(255,255,255,.08);

    transition:.3s;

}

.info-card:hover{

    transform:translateY(-6px);

    border-color:#8B5CF6;

}

.info-card h4{

    margin-bottom:10px;

    color:#8B5CF6;

}

.info-card p{

    color:white;

}