.contact{

    padding:100px 8%;

}

.contact-box{

    max-width:850px;

    margin:auto;

    background:#171b24;

    padding:50px;

    border-radius:20px;

    text-align:center;

}

.contact-box h3{

    font-size:34px;

    margin-bottom:20px;

}

.contact-box p{

    color:#9CA3AF;

    line-height:1.8;

    margin-bottom:35px;

}

.contact-links{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}

.contact-links a{

    padding:15px 28px;

    border-radius:50px;

    background:#8B5CF6;

    color:white;

    text-decoration:none;

    transition:.35s;

}

.contact-links a:hover{

    transform:translateY(-5px);

}