.education{
    padding:20px 8%;
}
.timeline{

    width:90%;
    margin:60px auto;
    position:relative;

}

.timeline::before{

    content:"";
    position:absolute;
    left:18px;
    top:0;
    width:3px;
    height:100%;
    background:#8B5CF6;

}

.timeline-item{

    display:flex;
    align-items:flex-start;
    margin-bottom:60px;
    position:relative;

}

.timeline-dot{

    width:18px;
    height:18px;
    background:#8B5CF6;
    border-radius:50%;
    margin-right:35px;
    margin-top:8px;
    box-shadow:0 0 20px #8B5CF6;

}

.timeline-content{

    background:#141821;
    padding:30px;
    border-radius:18px;
    width:100%;
    border:1px solid rgba(255,255,255,.08);
    transition:.3s;

}

.timeline-content:hover{

    transform:translateX(10px);
    border-color:#8B5CF6;

}

.timeline-content span{

    color:#8B5CF6;
    font-weight:600;

}

.timeline-content h3{

    margin:12px 0;
    font-size:26px;

}

.timeline-content h4{

    color:#d1d5db;
    margin-bottom:15px;

}

.timeline-content p{

    color:#9ca3af;
    line-height:1.8;

}