/*==============================
        EXPERIENCE
==============================*/

.experience{
    padding:100px 8%;
}

.experience-container{
    margin-top:60px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    gap:30px;
}

.experience-card{
    background:#171b24;
    border:1px solid rgba(255,255,255,.08);
    border-radius:20px;
    padding:35px;
    transition:.35s;
}

.experience-card:hover{
    transform:translateY(-8px);
    border-color:#8B5CF6;
    box-shadow:0 15px 35px rgba(139,92,246,.15);
}

.exp-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:12px;
}

.exp-header h3{
    font-size:24px;
}

.exp-header span{
    color:#8B5CF6;
    font-size:14px;
    font-weight:600;
}

.experience-card h4{
    color:#d1d5db;
    margin-bottom:20px;
    font-weight:500;
}

.experience-card p{
    color:#9ca3af;
    line-height:1.8;
    margin-bottom:25px;
}

.tech-stack{
    display:flex;
    flex-wrap:wrap;
    gap:12px;
}

.tech-stack span{
    background:#8B5CF6;
    color:#fff;
    padding:8px 16px;
    border-radius:30px;
    font-size:13px;
}