.footer{

    background:#0F172A;

    padding:60px 8%;

    text-align:center;

    border-top:1px solid rgba(255,255,255,.08);

}

.footer h2{

    color:#8B5CF6;

    margin-bottom:15px;

}

.footer p{

    color:#94A3B8;

    margin-bottom:20px;

}

.footer-links{

    display:flex;

    justify-content:center;

    gap:30px;

    margin-bottom:25px;

}

.footer-links a{

    color:white;

    text-decoration:none;

    transition:.3s;

}

.footer-links a:hover{

    color:#8B5CF6;

}

.copyright{

    font-size:14px;

    color:#64748B;

}