.hero{

    min-height:100vh;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 8%;

    gap:70px;

}
.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:140px 8% 80px;
}
.hero-left{

    width:55%;

}

.hero-right{

    width:45%;

    display:flex;

    justify-content:center;

}

.hello{

    color:#8B5CF6;

    font-size:22px;

    margin-bottom:15px;

}

.hero h1{

    font-size:70px;

    font-weight:700;

    margin-bottom:15px;

}

.hero h2{

    font-size:34px;

    color:#C4B5FD;

    margin-bottom:25px;

    min-height:45px;

}

.hero-text{

    color:#94A3B8;

    line-height:1.8;

    font-size:18px;

    margin-bottom:35px;

}

.hero-buttons{

    display:flex;

    gap:20px;

}

.btn-primary{

    background:#8B5CF6;

    color:white;

    padding:15px 32px;

    border-radius:30px;

    text-decoration:none;

    transition:.3s;

}

.btn-secondary{

    border:2px solid #8B5CF6;

    color:white;

    padding:15px 32px;

    border-radius:30px;

    text-decoration:none;

    transition:.3s;

}

.btn-primary:hover{

    transform:translateY(-3px);

}

.btn-secondary:hover{

    background:#8B5CF6;

}

.terminal{

    width:100%;

    max-width:450px;

    background:#111827;

    border-radius:18px;

    overflow:hidden;

    border:1px solid rgba(255,255,255,.08);

    box-shadow:0 20px 50px rgba(0,0,0,.35);

}

.terminal-header{

    background:#1F2937;

    padding:15px;

}

.red,.yellow,.green{

    width:12px;

    height:12px;

    border-radius:50%;

    display:inline-block;

    margin-right:8px;

}

.red{

    background:#EF4444;

}

.yellow{

    background:#FBBF24;

}

.green{

    background:#22C55E;

}

.terminal-body{

    padding:30px;

}

.terminal pre{

    font-family:Consolas, monospace;

    color:#D1D5DB;

    font-size:16px;

    line-height:2;

}