<section class="contact" id="contact">

    <div class="section-title">

        <span>CONTACT</span>

        <h2>Let's Connect</h2>

    </div>

    <div class="contact-box">

        <h3>Interested in collaborating?</h3>

        <p>
            I'm always open to internships, collaborations and exciting
            opportunities. Feel free to connect with me.
        </p>

        <div class="contact-links">

           <a href="https://mail.google.com/mail/?view=cm&fs=1&to=jchhavi2317@gmail.com"
   target="_blank">
    <i class="fa-solid fa-envelope"></i>
</a>

            <a href="https://www.linkedin.com/in/chhavijain2317/" target="_blank">
    <i class="fa-brands fa-linkedin"></i>
</a>

            <a href="https://github.com/jainchhavi23" target="_blank">
    <i class="fa-brands fa-github"></i>
</a>
<a href="https://www.instagram.com/itz_cj_13/" target="_blank">
    <i class="fa-brands fa-instagram"></i>
</a>

        </div>

    </div>

</section>