<section class="education" id="education">

    <div class="section-title">
        <span>EDUCATION</span>
        <h2>My Academic Journey</h2>
    </div>

    <div class="timeline">

        <div class="timeline-item">
            <div class="timeline-dot"></div>

            <div class="timeline-content">
                <span>2024 - 2027</span>
                <h3>Bachelor of Computer Applications (BCA)</h3>
                <h4>St. Andrews Institute of Technology & Management, Gurgaon</h4>

                <p>
                    Maharshi Dayanand University (MDU)<br>
                    Current CGPA: <strong>8.5</strong>
                </p>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-dot"></div>

            <div class="timeline-content">
                <span>2022 - 2023</span>
                <h3>Senior Secondary (Class XII)</h3>
                <h4>K.R. Senior Secondary School, Faridabad</h4>

                <p>
                    Percentage: <strong>89.2%</strong>
                </p>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-dot"></div>

            <div class="timeline-content">
                <span>2020 - 2021</span>
                <h3>Secondary (Class X)</h3>
                <h4>Modern Navodaya Saraswati Senior Secondary School, Faridabad</h4>

                <p>
                    Percentage: <strong>93.6%</strong>
                </p>
            </div>
        </div>

    </div>

</section>