<section class="hero" id="home">

    <div class="hero-left">

        <p class="hello">Hello, I'm</p>

        <h1>Chhavi Jain</h1>

        <h2>
            <span id="typing"></span>
        </h2>

        <p class="hero-text">

            I build practical software solutions using Python, Flask and Data Analytics.
            Passionate about creating efficient applications and continuously learning
            modern technologies.

        </p>

        <div class="hero-buttons">

            <a href="#projects" class="btn-primary">
                View Projects
            </a>

            <a href="#" class="btn-secondary">
                Download Resume
            </a>

        </div>

    </div>

    <div class="hero-right">

        <div class="terminal">

            <div class="terminal-header">

                <span class="red"></span>
                <span class="yellow"></span>
                <span class="green"></span>

            </div>

            <div class="terminal-body">

<pre>
> python portfolio.py

Loading Skills...

✔ Python

✔ Flask

✔ SQL

✔ Power BI

✔ Git & GitHub

Status:
Available for Opportunities
</pre>

            </div>

        </div>

    </div>

</section>