<section class="hero" id="home">

    <div class="hero-left">

        <p class="hero-tag">👋 Hi, I'm</p>

        <h1>
            Chhavi <span>Jain</span>
        </h1>

        <h2>
            Python Developer
            <span>|</span>
            Flask Developer
            <span>|</span>
            AI Enthusiast
        </h2>

        <p class="hero-description">
            I build modern web applications and practical software solutions
            using Python, Flask and Data Analytics.
            Passionate about solving real-world problems through clean code
            and continuous learning.
        </p>

        <div class="hero-buttons">

            <a href="#projects" class="btn btn-primary">
                🚀 View Projects
            </a>

            <a href="/static/images/Resume.pdf"
               class="btn btn-outline"
               target="_blank">
                📄 Resume
            </a>

        </div>
        </div>

    <div class="hero-right">

        <div class="profile-circle">

            <img src="{{ url_for('static', filename='images/profile.jpeg') }}"
                 alt="Chhavi Jain">

        </div>

        <div class="glass-card card1">

            <h3>8+</h3>

            <p>Projects</p>

        </div>

        <div class="glass-card card2">

            <h3>8.5</h3>

            <p>CGPA</p>

        </div>

        <div class="glass-card card3">

            <h3>Python</h3>

            <p>Flask • SQL</p>

        </div>

        <div class="glass-card card4">

            <h3>Open</h3>

            <p>Internships</p>

        </div>

    </div>

</section>